/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  padding-block: 0.2em;
  text-align: center;
}

h1 {
  color: white;
  font-size: 3em;
}

h2 {
  color: white;
  background-color: teal;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

img {
  width: 100%;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em 2em;
}
header img {
  height: 80%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 20%;
}

.headerContent {
  width: 100%;
}

nav {
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  width: 100%;
}
nav li:not(:last-child) {
  border-right: 2px solid white;
}
nav a {
  background-color: lightcoral;
  color: white;
  display: block;
  padding: 1em 0;
  width: 100%;
}

.text {
  display: none;
}

main {
  background-color: lightblue;
  height: 100%;
}

.gallery {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery--item {
  border-bottom: 2px solid black;
}

.imgwrapper {
  background-color: white;
  padding: 1em;
}

.description {
  text-align: center;
}
.description p {
  padding: 0.2em 0.5em;
  text-align: left;
}

.btnlink {
  background-color: blue;
  border: 1px solid black;
  border-radius: 0.5em;
  color: white;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 2em;
}

.formulario {
  margin: 0 auto;
  width: 70%;
}
.formulario form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
* Media for tablets
*/
@media screen and (min-width: 500px) {
  .gallery--item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
  }

  .imgwrapper {
    height: 100%;
    padding: 0;
    width: 50%;
  }
  .imgwrapper img {
    width: 100%;
    height: 100%;
  }

  .description {
    width: 50%;
  }

  .formulario form {
    width: 70%;
  }

  .formItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
/*
* Media for pc
*/
@media screen and (min-width: 800px) {
  header {
    position: relative;
  }

  .logo {
    width: 10%;
    margin: 0, 2em;
  }

  .headerContent {
    width: 85%;
  }

  nav {
    position: relative;
  }
  nav .icons, nav .fas {
    display: none;
  }
  nav li {
    border: 2px solid white;
  }
  nav a:hover {
    background-color: #d45e5e;
  }

  .text {
    display: inline;
    font-size: 1.3em;
  }

  .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .gallery--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow-x: auto;
    padding: 0.5em;
    width: 33%;
  }

  .imgwrapper {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  main {
    position: relative;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}