extends base.pug

block content 
    .formulario
        form(action="", method="post") 
            .formItem
                label(for="tbNombre") Nombre:
                input(type="text", name="tbNombre")
            .formItem
                label(for="tbMail") Correo electrónico:
                input(type="email", name="tbMail")
            .formItem
                label(for="tbAsunto") Asunto:
                input(type="text", name="tbAsunto")
            .formItem
                label(for="taMensaje") Mensaje:
                textarea(name="taMensaje", cols="30", rows="10") 
