extends base.pug

block content 
    section 
        h2#games Games 
        .gallery 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Juego 1
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Juego 2
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Juego 3
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
    section 
        h2#utilities Utilities
        .gallery 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Utilidad 1
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Utilidad 2
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 Utilidad 3
                    p.descriptionText Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis quaerat totam illo obcaecati alias porro sunt ut facere amet at, adipisci dolor, esse blanditiis nulla distinctio officia explicabo, voluptatum aperiam!
                    a.btnlink(href="#") Go 
