extends base.pug

block content 
    section 
        h2 Games
        .gallery 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
    section 
    section 
        h2 Utilities
        .gallery 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
            .gallery--item 
                .imgwrapper 
                    img(src="img/test.png", alt="project 1")
                .description 
                    h3 
                    a.btnlink(href="#") Go 
    section 